<html>
  <head>
    <script>
    function createCORSRequest(method, url) {
      var xhr = new XMLHttpRequest();
      if ("withCredentials" in xhr) {

        // Check if the XMLHttpRequest object has a "withCredentials" property.
        // "withCredentials" only exists on XMLHTTPRequest2 objects.
        xhr.open(method, url, true);

      } else if (typeof XDomainRequest != "undefined") {

        // Otherwise, check if XDomainRequest.
        // XDomainRequest only exists in IE, and is IE's way of making CORS requests.
        xhr = new XDomainRequest();
        xhr.open(method, url);

      } else {

        // Otherwise, CORS is not supported by the browser.
        xhr = null;

      }
      return xhr;
    }

    </script>
  </head>
  <body>
    <script>
      var url = 'http://127.0.0.1.xip.io:8090/api'
      var xhr = createCORSRequest('GET', url);
      if (!xhr) {
        throw new Error('CORS not supported');
      }

      xhr.onload = function() {
        cookies = JSON.parse(xhr.getResponseHeader('X-Cookies'));
        for (var i=0; i<cookies.length; i++) {
          document.cookie = cookies[i]
        }
      };

      xhr.onerror = function() {
        console.log('There was an error!');
      };

      xhr.send();
    </script>
    <p>
      Hello!
    </p>
  </body>
</html>
